USE [S4_Futbol]
GO
/****** Object:  Table [dbo].[enfrentamientos]    Script Date: 26/08/2025 05:59:40 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[enfrentamientos](
	[IdEnfrentamiento] [int] IDENTITY(1,1) NOT NULL,
	[IdTorneo] [int] NOT NULL,
	[IdEquipo1] [int] NOT NULL,
	[IdEquipo2] [int] NOT NULL,
	[VecesEnfrentados] [int] NOT NULL,
	[UltimoPartidoId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEnfrentamiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[equipos]    Script Date: 26/08/2025 05:59:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[equipos](
	[IdEquipo] [int] IDENTITY(1,1) NOT NULL,
	[IdTorneo] [int] NOT NULL,
	[IdOrigen] [int] NULL,
	[IdImagen] [int] NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Habilitado] [bit] NOT NULL,
	[FechaAlta] [datetime] NOT NULL,
	[IdUsuario] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEquipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[estados_partido]    Script Date: 26/08/2025 05:59:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[estados_partido](
	[IdEstadoPartido] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Descripcion] [nvarchar](200) NULL,
	[Codigo] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEstadoPartido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[fases_torneo]    Script Date: 26/08/2025 05:59:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fases_torneo](
	[IdFase] [int] IDENTITY(1,1) NOT NULL,
	[IdTorneo] [int] NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[EsEliminatoria] [bit] NOT NULL,
	[EquiposQueClasifican] [int] NOT NULL,
	[Orden] [int] NOT NULL,
	[FechaInicio] [date] NULL,
	[Habilitado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdFase] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[goles]    Script Date: 26/08/2025 05:59:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[goles](
	[IdGol] [int] IDENTITY(1,1) NOT NULL,
	[IdPartido] [int] NOT NULL,
	[IdJugador] [int] NOT NULL,
	[Minuto] [int] NOT NULL,
	[EsPenalti] [bit] NOT NULL,
	[EsFalta] [bit] NOT NULL,
	[IdJugadorAsistencia] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdGol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[imagenes]    Script Date: 26/08/2025 05:59:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[imagenes](
	[IdImagen] [int] IDENTITY(1,1) NOT NULL,
	[Url] [nvarchar](255) NOT NULL,
	[IdTipoImagen] [int] NOT NULL,
	[Tamaño] [nvarchar](20) NULL,
	[IdUsuario] [int] NULL,
	[FechaAlta] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdImagen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[jornadas]    Script Date: 26/08/2025 05:59:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[jornadas](
	[IdJornada] [int] IDENTITY(1,1) NOT NULL,
	[IdFase] [int] NOT NULL,
	[Numero] [int] NOT NULL,
	[Fecha] [date] NULL,
	[IdTipoJornada] [int] NULL,
	[EsOficial] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdJornada] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[jugadores]    Script Date: 26/08/2025 05:59:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[jugadores](
	[IdJugador] [int] IDENTITY(1,1) NOT NULL,
	[IdEquipo] [int] NOT NULL,
	[IdPosicionJugador] [int] NULL,
	[IdImagen] [int] NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Numero] [int] NULL,
	[IdUsuario] [int] NULL,
	[FechaAlta] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdJugador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[movimientos]    Script Date: 26/08/2025 05:59:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[movimientos](
	[IdMovimiento] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[IdTipoMovimiento] [int] NOT NULL,
	[TablaAfectada] [nvarchar](50) NOT NULL,
	[FechaMovimiento] [datetime] NOT NULL,
	[Observacion] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdMovimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[origenes]    Script Date: 26/08/2025 05:59:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[origenes](
	[IdOrigen] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdOrigen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[partidos]    Script Date: 26/08/2025 05:59:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[partidos](
	[IdPartido] [int] IDENTITY(1,1) NOT NULL,
	[IdTorneo] [int] NULL,
	[IdFase] [int] NOT NULL,
	[IdJornada] [int] NULL,
	[IdEquipoLocal] [int] NOT NULL,
	[IdEquipoVisitante] [int] NOT NULL,
	[IdTipoPartido] [int] NOT NULL,
	[IdEstadoPartido] [int] NOT NULL,
	[IdUsuario] [int] NULL,
	[Fecha] [datetime] NOT NULL,
	[GolesLocal] [int] NULL,
	[GolesVisitante] [int] NULL,
	[Estadio] [nvarchar](100) NULL,
	[Observaciones] [nvarchar](max) NULL,
	[EsOficial] [bit] NULL,
	[FechaAlta] [datetime] NOT NULL,
	[FechaModificacion] [datetime] NULL,
 CONSTRAINT [PK__partidos__6ED660F96AD368B0] PRIMARY KEY CLUSTERED 
(
	[IdPartido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[posiciones]    Script Date: 26/08/2025 05:59:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[posiciones](
	[IdPosicion] [int] IDENTITY(1,1) NOT NULL,
	[IdFase] [int] NOT NULL,
	[IdEquipo] [int] NOT NULL,
	[PartidosJugados] [int] NOT NULL,
	[PartidosGanados] [int] NOT NULL,
	[PartidosEmpatados] [int] NOT NULL,
	[PartidosPerdidos] [int] NOT NULL,
	[GolesAFavor] [int] NOT NULL,
	[GolesEnContra] [int] NOT NULL,
	[Puntos] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPosicion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[posiciones_jugador]    Script Date: 26/08/2025 05:59:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[posiciones_jugador](
	[IdPosicionJugador] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Abreviatura] [nvarchar](3) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPosicionJugador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sanciones]    Script Date: 26/08/2025 05:59:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sanciones](
	[IdSancion] [int] IDENTITY(1,1) NOT NULL,
	[IdPartido] [int] NOT NULL,
	[IdJugador] [int] NOT NULL,
	[IdTipoSancion] [int] NOT NULL,
	[Minuto] [int] NULL,
	[Observaciones] [nvarchar](max) NULL,
	[FechaSancion] [date] NULL,
	[PartidosSuspension] [int] NOT NULL,
	[EsDobleAmarilla] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdSancion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipos_imagen]    Script Date: 26/08/2025 05:59:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipos_imagen](
	[IdTipoImagen] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Descripcion] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdTipoImagen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipos_movimiento]    Script Date: 26/08/2025 05:59:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipos_movimiento](
	[IdTipoMovimiento] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Descripcion] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdTipoMovimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipos_partido]    Script Date: 26/08/2025 05:59:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipos_partido](
	[IdTipoPartido] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Descripcion] [nvarchar](200) NULL,
	[AfectaPosiciones] [bit] NOT NULL,
	[EsOficial] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdTipoPartido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipos_sancion]    Script Date: 26/08/2025 05:59:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipos_sancion](
	[IdTipoSancion] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Descripcion] [nvarchar](200) NULL,
	[Puntos] [int] NOT NULL,
	[PartidosSuspension] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdTipoSancion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[torneos]    Script Date: 26/08/2025 05:59:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[torneos](
	[IdTorneo] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[FechaInicio] [date] NULL,
	[FechaFin] [date] NULL,
	[Habilitado] [bit] NOT NULL,
	[IdUsuario] [int] NULL,
	[FechaAlta] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdTorneo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuarios]    Script Date: 26/08/2025 05:59:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuarios](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[Habilitado] [bit] NOT NULL,
	[FechaAlta] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[enfrentamientos] ADD  DEFAULT ((1)) FOR [VecesEnfrentados]
GO
ALTER TABLE [dbo].[equipos] ADD  DEFAULT ((1)) FOR [Habilitado]
GO
ALTER TABLE [dbo].[equipos] ADD  DEFAULT (getdate()) FOR [FechaAlta]
GO
ALTER TABLE [dbo].[fases_torneo] ADD  DEFAULT ((0)) FOR [EsEliminatoria]
GO
ALTER TABLE [dbo].[fases_torneo] ADD  DEFAULT ((0)) FOR [EquiposQueClasifican]
GO
ALTER TABLE [dbo].[fases_torneo] ADD  CONSTRAINT [DF_fases_torneo_Habilitado]  DEFAULT ((1)) FOR [Habilitado]
GO
ALTER TABLE [dbo].[goles] ADD  DEFAULT ((0)) FOR [EsPenalti]
GO
ALTER TABLE [dbo].[goles] ADD  DEFAULT ((0)) FOR [EsFalta]
GO
ALTER TABLE [dbo].[imagenes] ADD  DEFAULT (getdate()) FOR [FechaAlta]
GO
ALTER TABLE [dbo].[jugadores] ADD  DEFAULT (getdate()) FOR [FechaAlta]
GO
ALTER TABLE [dbo].[movimientos] ADD  DEFAULT (getdate()) FOR [FechaMovimiento]
GO
ALTER TABLE [dbo].[partidos] ADD  CONSTRAINT [DF__partidos__IdEsta__5BE2A6F2]  DEFAULT ((1)) FOR [IdEstadoPartido]
GO
ALTER TABLE [dbo].[partidos] ADD  CONSTRAINT [DF__partidos__FechaA__5CD6CB2B]  DEFAULT (getdate()) FOR [FechaAlta]
GO
ALTER TABLE [dbo].[posiciones] ADD  DEFAULT ((0)) FOR [PartidosJugados]
GO
ALTER TABLE [dbo].[posiciones] ADD  DEFAULT ((0)) FOR [PartidosGanados]
GO
ALTER TABLE [dbo].[posiciones] ADD  DEFAULT ((0)) FOR [PartidosEmpatados]
GO
ALTER TABLE [dbo].[posiciones] ADD  DEFAULT ((0)) FOR [PartidosPerdidos]
GO
ALTER TABLE [dbo].[posiciones] ADD  DEFAULT ((0)) FOR [GolesAFavor]
GO
ALTER TABLE [dbo].[posiciones] ADD  DEFAULT ((0)) FOR [GolesEnContra]
GO
ALTER TABLE [dbo].[posiciones] ADD  DEFAULT ((0)) FOR [Puntos]
GO
ALTER TABLE [dbo].[sanciones] ADD  DEFAULT ((0)) FOR [PartidosSuspension]
GO
ALTER TABLE [dbo].[sanciones] ADD  DEFAULT ((0)) FOR [EsDobleAmarilla]
GO
ALTER TABLE [dbo].[tipos_partido] ADD  DEFAULT ((1)) FOR [AfectaPosiciones]
GO
ALTER TABLE [dbo].[tipos_partido] ADD  DEFAULT ((1)) FOR [EsOficial]
GO
ALTER TABLE [dbo].[tipos_sancion] ADD  DEFAULT ((0)) FOR [Puntos]
GO
ALTER TABLE [dbo].[tipos_sancion] ADD  DEFAULT ((0)) FOR [PartidosSuspension]
GO
ALTER TABLE [dbo].[torneos] ADD  DEFAULT ((1)) FOR [Habilitado]
GO
ALTER TABLE [dbo].[torneos] ADD  DEFAULT (getdate()) FOR [FechaAlta]
GO
ALTER TABLE [dbo].[usuarios] ADD  DEFAULT ((1)) FOR [Habilitado]
GO
ALTER TABLE [dbo].[usuarios] ADD  DEFAULT (getdate()) FOR [FechaAlta]
GO
ALTER TABLE [dbo].[enfrentamientos]  WITH CHECK ADD  CONSTRAINT [FK_enfrentamientos_eq1] FOREIGN KEY([IdEquipo1])
REFERENCES [dbo].[equipos] ([IdEquipo])
GO
ALTER TABLE [dbo].[enfrentamientos] CHECK CONSTRAINT [FK_enfrentamientos_eq1]
GO
ALTER TABLE [dbo].[enfrentamientos]  WITH CHECK ADD  CONSTRAINT [FK_enfrentamientos_eq2] FOREIGN KEY([IdEquipo2])
REFERENCES [dbo].[equipos] ([IdEquipo])
GO
ALTER TABLE [dbo].[enfrentamientos] CHECK CONSTRAINT [FK_enfrentamientos_eq2]
GO
ALTER TABLE [dbo].[enfrentamientos]  WITH CHECK ADD  CONSTRAINT [FK_enfrentamientos_torneo] FOREIGN KEY([IdTorneo])
REFERENCES [dbo].[torneos] ([IdTorneo])
GO
ALTER TABLE [dbo].[enfrentamientos] CHECK CONSTRAINT [FK_enfrentamientos_torneo]
GO
ALTER TABLE [dbo].[enfrentamientos]  WITH CHECK ADD  CONSTRAINT [FK_enfrentamientos_ultimo] FOREIGN KEY([UltimoPartidoId])
REFERENCES [dbo].[partidos] ([IdPartido])
GO
ALTER TABLE [dbo].[enfrentamientos] CHECK CONSTRAINT [FK_enfrentamientos_ultimo]
GO
ALTER TABLE [dbo].[equipos]  WITH CHECK ADD  CONSTRAINT [FK_equipos_imagenes] FOREIGN KEY([IdImagen])
REFERENCES [dbo].[imagenes] ([IdImagen])
GO
ALTER TABLE [dbo].[equipos] CHECK CONSTRAINT [FK_equipos_imagenes]
GO
ALTER TABLE [dbo].[equipos]  WITH CHECK ADD  CONSTRAINT [FK_equipos_origenes] FOREIGN KEY([IdOrigen])
REFERENCES [dbo].[origenes] ([IdOrigen])
GO
ALTER TABLE [dbo].[equipos] CHECK CONSTRAINT [FK_equipos_origenes]
GO
ALTER TABLE [dbo].[equipos]  WITH CHECK ADD  CONSTRAINT [FK_equipos_torneos] FOREIGN KEY([IdTorneo])
REFERENCES [dbo].[torneos] ([IdTorneo])
GO
ALTER TABLE [dbo].[equipos] CHECK CONSTRAINT [FK_equipos_torneos]
GO
ALTER TABLE [dbo].[equipos]  WITH CHECK ADD  CONSTRAINT [FK_equipos_usuarios] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[equipos] CHECK CONSTRAINT [FK_equipos_usuarios]
GO
ALTER TABLE [dbo].[fases_torneo]  WITH CHECK ADD  CONSTRAINT [FK_fases_torneo_torneos] FOREIGN KEY([IdTorneo])
REFERENCES [dbo].[torneos] ([IdTorneo])
GO
ALTER TABLE [dbo].[fases_torneo] CHECK CONSTRAINT [FK_fases_torneo_torneos]
GO
ALTER TABLE [dbo].[goles]  WITH CHECK ADD  CONSTRAINT [FK_goles_asistencia] FOREIGN KEY([IdJugadorAsistencia])
REFERENCES [dbo].[jugadores] ([IdJugador])
GO
ALTER TABLE [dbo].[goles] CHECK CONSTRAINT [FK_goles_asistencia]
GO
ALTER TABLE [dbo].[goles]  WITH CHECK ADD  CONSTRAINT [FK_goles_jugador] FOREIGN KEY([IdJugador])
REFERENCES [dbo].[jugadores] ([IdJugador])
GO
ALTER TABLE [dbo].[goles] CHECK CONSTRAINT [FK_goles_jugador]
GO
ALTER TABLE [dbo].[goles]  WITH CHECK ADD  CONSTRAINT [FK_goles_partidos] FOREIGN KEY([IdPartido])
REFERENCES [dbo].[partidos] ([IdPartido])
GO
ALTER TABLE [dbo].[goles] CHECK CONSTRAINT [FK_goles_partidos]
GO
ALTER TABLE [dbo].[imagenes]  WITH CHECK ADD  CONSTRAINT [FK_imagenes_tipos_imagen] FOREIGN KEY([IdTipoImagen])
REFERENCES [dbo].[tipos_imagen] ([IdTipoImagen])
GO
ALTER TABLE [dbo].[imagenes] CHECK CONSTRAINT [FK_imagenes_tipos_imagen]
GO
ALTER TABLE [dbo].[imagenes]  WITH CHECK ADD  CONSTRAINT [FK_imagenes_usuarios] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[imagenes] CHECK CONSTRAINT [FK_imagenes_usuarios]
GO
ALTER TABLE [dbo].[jornadas]  WITH CHECK ADD  CONSTRAINT [FK_jornadas_fases] FOREIGN KEY([IdFase])
REFERENCES [dbo].[fases_torneo] ([IdFase])
GO
ALTER TABLE [dbo].[jornadas] CHECK CONSTRAINT [FK_jornadas_fases]
GO
ALTER TABLE [dbo].[jornadas]  WITH CHECK ADD  CONSTRAINT [FK_jornadas_tipos_partido] FOREIGN KEY([IdTipoJornada])
REFERENCES [dbo].[tipos_partido] ([IdTipoPartido])
GO
ALTER TABLE [dbo].[jornadas] CHECK CONSTRAINT [FK_jornadas_tipos_partido]
GO
ALTER TABLE [dbo].[jugadores]  WITH CHECK ADD  CONSTRAINT [FK_jugadores_equipos] FOREIGN KEY([IdEquipo])
REFERENCES [dbo].[equipos] ([IdEquipo])
GO
ALTER TABLE [dbo].[jugadores] CHECK CONSTRAINT [FK_jugadores_equipos]
GO
ALTER TABLE [dbo].[jugadores]  WITH CHECK ADD  CONSTRAINT [FK_jugadores_imagenes] FOREIGN KEY([IdImagen])
REFERENCES [dbo].[imagenes] ([IdImagen])
GO
ALTER TABLE [dbo].[jugadores] CHECK CONSTRAINT [FK_jugadores_imagenes]
GO
ALTER TABLE [dbo].[jugadores]  WITH CHECK ADD  CONSTRAINT [FK_jugadores_posiciones] FOREIGN KEY([IdPosicionJugador])
REFERENCES [dbo].[posiciones_jugador] ([IdPosicionJugador])
GO
ALTER TABLE [dbo].[jugadores] CHECK CONSTRAINT [FK_jugadores_posiciones]
GO
ALTER TABLE [dbo].[jugadores]  WITH CHECK ADD  CONSTRAINT [FK_jugadores_usuarios] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[jugadores] CHECK CONSTRAINT [FK_jugadores_usuarios]
GO
ALTER TABLE [dbo].[movimientos]  WITH CHECK ADD  CONSTRAINT [FK_movimientos_tipo] FOREIGN KEY([IdTipoMovimiento])
REFERENCES [dbo].[tipos_movimiento] ([IdTipoMovimiento])
GO
ALTER TABLE [dbo].[movimientos] CHECK CONSTRAINT [FK_movimientos_tipo]
GO
ALTER TABLE [dbo].[movimientos]  WITH CHECK ADD  CONSTRAINT [FK_movimientos_usuarios] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[movimientos] CHECK CONSTRAINT [FK_movimientos_usuarios]
GO
ALTER TABLE [dbo].[partidos]  WITH CHECK ADD  CONSTRAINT [FK_partidos_estados] FOREIGN KEY([IdEstadoPartido])
REFERENCES [dbo].[estados_partido] ([IdEstadoPartido])
GO
ALTER TABLE [dbo].[partidos] CHECK CONSTRAINT [FK_partidos_estados]
GO
ALTER TABLE [dbo].[partidos]  WITH CHECK ADD  CONSTRAINT [FK_partidos_fases] FOREIGN KEY([IdFase])
REFERENCES [dbo].[fases_torneo] ([IdFase])
GO
ALTER TABLE [dbo].[partidos] CHECK CONSTRAINT [FK_partidos_fases]
GO
ALTER TABLE [dbo].[partidos]  WITH CHECK ADD  CONSTRAINT [FK_partidos_jornadas] FOREIGN KEY([IdJornada])
REFERENCES [dbo].[jornadas] ([IdJornada])
GO
ALTER TABLE [dbo].[partidos] CHECK CONSTRAINT [FK_partidos_jornadas]
GO
ALTER TABLE [dbo].[partidos]  WITH CHECK ADD  CONSTRAINT [FK_partidos_local] FOREIGN KEY([IdEquipoLocal])
REFERENCES [dbo].[equipos] ([IdEquipo])
GO
ALTER TABLE [dbo].[partidos] CHECK CONSTRAINT [FK_partidos_local]
GO
ALTER TABLE [dbo].[partidos]  WITH CHECK ADD  CONSTRAINT [FK_partidos_tipos_partido] FOREIGN KEY([IdTipoPartido])
REFERENCES [dbo].[tipos_partido] ([IdTipoPartido])
GO
ALTER TABLE [dbo].[partidos] CHECK CONSTRAINT [FK_partidos_tipos_partido]
GO
ALTER TABLE [dbo].[partidos]  WITH CHECK ADD  CONSTRAINT [FK_partidos_torneos] FOREIGN KEY([IdTorneo])
REFERENCES [dbo].[torneos] ([IdTorneo])
GO
ALTER TABLE [dbo].[partidos] CHECK CONSTRAINT [FK_partidos_torneos]
GO
ALTER TABLE [dbo].[partidos]  WITH CHECK ADD  CONSTRAINT [FK_partidos_usuarios] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[partidos] CHECK CONSTRAINT [FK_partidos_usuarios]
GO
ALTER TABLE [dbo].[partidos]  WITH CHECK ADD  CONSTRAINT [FK_partidos_visitante] FOREIGN KEY([IdEquipoVisitante])
REFERENCES [dbo].[equipos] ([IdEquipo])
GO
ALTER TABLE [dbo].[partidos] CHECK CONSTRAINT [FK_partidos_visitante]
GO
ALTER TABLE [dbo].[posiciones]  WITH CHECK ADD  CONSTRAINT [FK_posiciones_equipos] FOREIGN KEY([IdEquipo])
REFERENCES [dbo].[equipos] ([IdEquipo])
GO
ALTER TABLE [dbo].[posiciones] CHECK CONSTRAINT [FK_posiciones_equipos]
GO
ALTER TABLE [dbo].[posiciones]  WITH CHECK ADD  CONSTRAINT [FK_posiciones_fases] FOREIGN KEY([IdFase])
REFERENCES [dbo].[fases_torneo] ([IdFase])
GO
ALTER TABLE [dbo].[posiciones] CHECK CONSTRAINT [FK_posiciones_fases]
GO
ALTER TABLE [dbo].[sanciones]  WITH CHECK ADD  CONSTRAINT [FK_sanciones_jugador] FOREIGN KEY([IdJugador])
REFERENCES [dbo].[jugadores] ([IdJugador])
GO
ALTER TABLE [dbo].[sanciones] CHECK CONSTRAINT [FK_sanciones_jugador]
GO
ALTER TABLE [dbo].[sanciones]  WITH CHECK ADD  CONSTRAINT [FK_sanciones_partidos] FOREIGN KEY([IdPartido])
REFERENCES [dbo].[partidos] ([IdPartido])
GO
ALTER TABLE [dbo].[sanciones] CHECK CONSTRAINT [FK_sanciones_partidos]
GO
ALTER TABLE [dbo].[sanciones]  WITH CHECK ADD  CONSTRAINT [FK_sanciones_tipo] FOREIGN KEY([IdTipoSancion])
REFERENCES [dbo].[tipos_sancion] ([IdTipoSancion])
GO
ALTER TABLE [dbo].[sanciones] CHECK CONSTRAINT [FK_sanciones_tipo]
GO
ALTER TABLE [dbo].[torneos]  WITH CHECK ADD  CONSTRAINT [FK_torneos_usuarios] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[torneos] CHECK CONSTRAINT [FK_torneos_usuarios]
GO
/****** Object:  StoredProcedure [dbo].[SP_ACTUALIZAR_POSICIONES]    Script Date: 26/08/2025 05:59:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- SP_ACTUALIZAR_POSICIONES
CREATE PROCEDURE [dbo].[SP_ACTUALIZAR_POSICIONES]
    @p_IdPartido INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        DECLARE
            @v_IdFase            INT,
            @v_IdEquipoLocal     INT,
            @v_IdEquipoVisitante INT,
            @v_GolesLocal        INT,
            @v_GolesVisitante    INT;

        -- 1. Obtener datos del partido
        SELECT 
            @v_IdFase            = IdFase,
            @v_IdEquipoLocal     = IdEquipoLocal,
            @v_IdEquipoVisitante = IdEquipoVisitante,
            @v_GolesLocal        = GolesLocal,
            @v_GolesVisitante    = GolesVisitante
        FROM PARTIDOS
        WHERE IdPartido = @p_IdPartido;

        -- 2. Solo si el partido tiene resultados
        IF @v_GolesLocal IS NOT NULL AND @v_GolesVisitante IS NOT NULL
        BEGIN
            -- Actualizar equipo local
            UPDATE POSICIONES
            SET 
                PartidosJugados   = PartidosJugados   + 1,
                GolesAFavor       = GolesAFavor       + @v_GolesLocal,
                GolesEnContra     = GolesEnContra     + @v_GolesVisitante,
                PartidosGanados   = PartidosGanados   + CASE WHEN @v_GolesLocal > @v_GolesVisitante THEN 1 ELSE 0 END,
                PartidosEmpatados = PartidosEmpatados + CASE WHEN @v_GolesLocal = @v_GolesVisitante THEN 1 ELSE 0 END,
                PartidosPerdidos  = PartidosPerdidos  + CASE WHEN @v_GolesLocal < @v_GolesVisitante THEN 1 ELSE 0 END,
                Puntos            = Puntos            + CASE 
                                     WHEN @v_GolesLocal > @v_GolesVisitante THEN 3
                                     WHEN @v_GolesLocal = @v_GolesVisitante THEN 1
                                     ELSE 0 END
            WHERE IdFase = @v_IdFase
              AND IdEquipo = @v_IdEquipoLocal;

            -- Actualizar equipo visitante
            UPDATE POSICIONES
            SET 
                PartidosJugados   = PartidosJugados   + 1,
                GolesAFavor       = GolesAFavor       + @v_GolesVisitante,
                GolesEnContra     = GolesEnContra     + @v_GolesLocal,
                PartidosGanados   = PartidosGanados   + CASE WHEN @v_GolesVisitante > @v_GolesLocal THEN 1 ELSE 0 END,
                PartidosEmpatados = PartidosEmpatados + CASE WHEN @v_GolesVisitante = @v_GolesLocal THEN 1 ELSE 0 END,
                PartidosPerdidos  = PartidosPerdidos  + CASE WHEN @v_GolesVisitante < @v_GolesLocal THEN 1 ELSE 0 END,
                Puntos            = Puntos            + CASE 
                                     WHEN @v_GolesVisitante > @v_GolesLocal THEN 3
                                     WHEN @v_GolesVisitante = @v_GolesLocal THEN 1
                                     ELSE 0 END
            WHERE IdFase = @v_IdFase
              AND IdEquipo = @v_IdEquipoVisitante;
        END
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ACTUALIZAR_SUSPENSIONES]    Script Date: 26/08/2025 05:59:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ACTUALIZAR_SUSPENSIONES]
    @p_IdPartido INT
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE 
        @v_IdTorneo INT,
        @v_FechaPartido DATE;

    -- Obtener torneo y fecha del partido
    SELECT 
        @v_IdTorneo = ft.IdTorneo,
        @v_FechaPartido = CAST(p.Fecha AS DATE)
    FROM PARTIDOS p
    JOIN FASES_TORNEO ft ON p.IdFase = ft.IdFase
    WHERE p.IdPartido = @p_IdPartido;

    -- Para cada jugador que participó en el partido
    UPDATE s
    SET s.PartidosSuspension = s.PartidosSuspension - 1
    FROM SANCIONES s
    JOIN JUGADORES j ON s.IdJugador = j.IdJugador
    JOIN PARTIDOS p ON s.IdPartido = p.IdPartido
    JOIN FASES_TORNEO ft ON p.IdFase = ft.IdFase
    WHERE ft.IdTorneo = @v_IdTorneo
      AND s.PartidosSuspension > 0
      AND j.IdJugador IN (
          -- Jugadores que participaron en el partido
          SELECT IdJugador FROM GOLES WHERE IdPartido = @p_IdPartido
          UNION
          SELECT IdJugador FROM SANCIONES WHERE IdPartido = @p_IdPartido
      );

    -- Eliminar suspensiones cumplidas
    DELETE FROM SANCIONES 
    WHERE PartidosSuspension <= 0;

    -- Auditoría
    INSERT INTO MOVIMIENTOS (IdUsuario, IdTipoMovimiento, TablaAfectada, Observacion)
    VALUES (1, 2, 'SANCIONES', 
            'Suspensiones actualizadas por partido ID: ' + CAST(@p_IdPartido AS NVARCHAR(10)));
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CANCELAR_PARTIDO]    Script Date: 26/08/2025 05:59:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP_CANCELAR_PARTIDO
CREATE PROCEDURE [dbo].[SP_CANCELAR_PARTIDO]
    @p_IdPartido  INT,
    @p_Motivo     NVARCHAR(MAX),
    @p_IdUsuario  INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        DECLARE @v_IdEstadoCancelado INT;
        -- 1. Obtener estado "CANCELADO"
        SELECT @v_IdEstadoCancelado = IdEstadoPartido
        FROM ESTADOS_PARTIDO
        WHERE Codigo = 'CANCELADO';

        -- 2. Actualizar partido
        UPDATE PARTIDOS
        SET 
            IdEstadoPartido = @v_IdEstadoCancelado,
            Observaciones   = ISNULL(Observaciones,'') 
                               + ' | Cancelado: ' + @p_Motivo,
            IdUsuario       = @p_IdUsuario
        WHERE IdPartido = @p_IdPartido;

        -- 3. Auditoría
        INSERT INTO MOVIMIENTOS (IdUsuario, IdTipoMovimiento, TablaAfectada, Observacion)
        VALUES (
            @p_IdUsuario,
            2,
            'PARTIDOS',
            'Partido cancelado (ID: ' + CAST(@p_IdPartido AS NVARCHAR(10)) 
              + '). Motivo: ' + @p_Motivo
        );

        SELECT 'Partido cancelado permanentemente' AS Mensaje;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ENFRENTAMIENTOS_HISTORICOS_CN]    Script Date: 26/08/2025 05:59:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ENFRENTAMIENTOS_HISTORICOS_CN]    
    @p_IdEquipoLocal INT,    
    @p_IdEquipoVisitante INT    
AS    
BEGIN    
    SET NOCOUNT ON;    
    SELECT     
        p.IdPartido,    
        p.Fecha,    
        el.Nombre         AS EquipoLocal,    
        ev.Nombre         AS EquipoVisitante,    
        p.GolesLocal,    
        p.GolesVisitante    
    FROM PARTIDOS p    
    JOIN EQUIPOS el ON p.IdEquipoLocal = el.IdEquipo    
    JOIN EQUIPOS ev ON p.IdEquipoVisitante = ev.IdEquipo    
    WHERE (p.IdEquipoLocal = @p_IdEquipoLocal AND p.IdEquipoVisitante = @p_IdEquipoVisitante)    
       OR (p.IdEquipoLocal = @p_IdEquipoVisitante AND p.IdEquipoVisitante = @p_IdEquipoLocal)    
    ORDER BY p.Fecha DESC;    
END 
GO
/****** Object:  StoredProcedure [dbo].[SP_EQUIPO_CN]    Script Date: 26/08/2025 05:59:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_EQUIPO_CN]
    @p_IdEquipo INT = NULL,
    @p_IdTorneo INT = NULL
AS
BEGIN
    SET NOCOUNT ON;
    SELECT 
        e.IdEquipo,
        e.IdTorneo,
        t.Nombre AS Torneo,
        e.IdOrigen,
        o.Descripcion AS Origen,
        e.IdImagen,
        e.Nombre,
        e.Habilitado,
        e.FechaAlta,
        e.IdUsuario
    FROM EQUIPOS e
    INNER JOIN TORNEOS t ON e.IdTorneo = t.IdTorneo
    LEFT JOIN ORIGENES o ON e.IdOrigen = o.IdOrigen
    WHERE (@p_IdEquipo IS NULL OR e.IdEquipo = @p_IdEquipo)
      AND (@p_IdTorneo IS NULL OR e.IdTorneo = @p_IdTorneo)
    ORDER BY t.Nombre, e.Nombre;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_EQUIPO_ED]    Script Date: 26/08/2025 05:59:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP_EQUIPO_ED
CREATE PROCEDURE [dbo].[SP_EQUIPO_ED]
    @p_IdEquipo   INT,
    @p_IdOrigen   INT,
    @p_Nombre     NVARCHAR(100),
    @p_Habilitado BIT,
    @p_IdUsuario  INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        UPDATE EQUIPOS
        SET 
            IdOrigen    = @p_IdOrigen,
            Nombre      = @p_Nombre,
            Habilitado  = @p_Habilitado,
            IdUsuario   = @p_IdUsuario
        WHERE IdEquipo = @p_IdEquipo;

        INSERT INTO MOVIMIENTOS (IdUsuario, IdTipoMovimiento, TablaAfectada, Observacion)
        VALUES (
            @p_IdUsuario,
            2,
            'EQUIPOS',
            'Actualización equipo ID: ' + CAST(@p_IdEquipo AS NVARCHAR(10))
        );
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_EQUIPO_IN]    Script Date: 26/08/2025 05:59:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP_EQUIPO_IN
CREATE PROCEDURE [dbo].[SP_EQUIPO_IN]
    @p_IdTorneo  INT,
    @p_IdOrigen  INT,
    @p_Nombre    NVARCHAR(100),
    @p_IdUsuario INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        INSERT INTO EQUIPOS (IdTorneo, IdOrigen, Nombre, IdUsuario)
        VALUES (@p_IdTorneo, @p_IdOrigen, @p_Nombre, @p_IdUsuario);

        INSERT INTO MOVIMIENTOS (IdUsuario, IdTipoMovimiento, TablaAfectada, Observacion)
        VALUES (
            @p_IdUsuario,
            1,
            'EQUIPOS',
            'Alta equipo: ' + @p_Nombre
        );

        SELECT CAST(SCOPE_IDENTITY() AS INT) AS IdEquipo;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_FASE_CN]    Script Date: 26/08/2025 05:59:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE  PROCEDURE [dbo].[SP_FASE_CN]  
    @p_IdFase INT  
AS  
BEGIN  
    SET NOCOUNT ON;  
    SELECT   
        f.IdFase,  
        f.IdTorneo,  
        f.Nombre,  
        f.EsEliminatoria,  
        f.EquiposQueClasifican,  
        f.Orden,  
        f.FechaInicio,  
        t.Nombre AS NombreTorneo  
    FROM FASES_TORNEO AS f  
    INNER JOIN TORNEOS AS t  
        ON f.IdTorneo = t.IdTorneo  
    WHERE f.IdFase = @p_IdFase;  
END  
    
GO
/****** Object:  StoredProcedure [dbo].[SP_FASE_CT]    Script Date: 26/08/2025 05:59:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE PROCEDURE [dbo].[SP_FASE_CT]  
    @p_IdTorneo INT  
AS  
BEGIN  
    SET NOCOUNT ON;  
    SELECT   
        IdFase,  
        Nombre,  
        EsEliminatoria,  
        EquiposQueClasifican,  
        Orden,  
        FechaInicio  
    FROM FASES_TORNEO  
    WHERE IdTorneo = @p_IdTorneo 
	AND	Habilitado =1
    ORDER BY Orden;  
END  
  
GO
/****** Object:  StoredProcedure [dbo].[SP_FASE_ED]    Script Date: 26/08/2025 05:59:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[SP_FASE_ED]  
    @p_IdFase               INT,  
    @p_Nombre               NVARCHAR(50),  
    @p_EsEliminatoria       BIT,  
    @p_EquiposQueClasifican INT,  
    @p_Orden                INT,  
    @p_FechaInicio          DATE,  
    @p_IdUsuario            INT,  
    @p_Habilitado           BIT  
AS  
BEGIN  
    SET NOCOUNT ON;  
    BEGIN TRY  
        UPDATE FASES_TORNEO  
        SET  
            Nombre               = @p_Nombre,  
            EsEliminatoria       = @p_EsEliminatoria,  
            EquiposQueClasifican = @p_EquiposQueClasifican,  
            Orden                = @p_Orden,  
            FechaInicio          = @p_FechaInicio,
			Habilitado           = @p_Habilitado			
        WHERE IdFase = @p_IdFase;  
  
        INSERT INTO MOVIMIENTOS (IdUsuario, IdTipoMovimiento, TablaAfectada, Observacion)  
        VALUES (  
            @p_IdUsuario,  
            2,  
            'FASES_TORNEO',  
            'Actualización fase ID: ' + CAST(@p_IdFase AS NVARCHAR(10))  
        );  
  
        SELECT 'Fase actualizada correctamente' AS Mensaje;  
    END TRY  
    BEGIN CATCH  
        THROW;  
    END CATCH  
END  
GO
/****** Object:  StoredProcedure [dbo].[SP_FASE_IN]    Script Date: 26/08/2025 05:59:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_FASE_IN]
    @p_IdTorneo            INT,
    @p_Nombre              NVARCHAR(50),
    @p_EsEliminatoria      BIT,
    @p_EquiposQueClasifican INT,
    @p_Orden               INT,
    @p_FechaInicio         DATE,
    @p_IdUsuario           INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        INSERT INTO FASES_TORNEO
            (IdTorneo, Nombre, EsEliminatoria, EquiposQueClasifican, Orden, FechaInicio)
        VALUES
            (@p_IdTorneo, @p_Nombre, @p_EsEliminatoria, @p_EquiposQueClasifican, @p_Orden, @p_FechaInicio);

        INSERT INTO MOVIMIENTOS (IdUsuario, IdTipoMovimiento, TablaAfectada, Observacion)
        VALUES (
            @p_IdUsuario,
            1,
            'FASES_TORNEO',
            'Creación fase: ' + @p_Nombre
        );

        SELECT CAST(SCOPE_IDENTITY() AS INT) AS IdFase;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GOL_DEL]    Script Date: 26/08/2025 05:59:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_GOL_DEL]
    @p_IdGol     INT,
    @p_IdUsuario INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        DECLARE 
            @v_IdPartido INT,
            @v_IdJugador INT,
            @v_IdEquipo  INT,
            @v_EsLocal   BIT;

        -- Obtener datos del gol
        SELECT 
            @v_IdPartido = IdPartido,
            @v_IdJugador = IdJugador
        FROM GOLES 
        WHERE IdGol = @p_IdGol;

        -- Obtener equipo del jugador
        SELECT @v_IdEquipo = IdEquipo 
        FROM JUGADORES 
        WHERE IdJugador = @v_IdJugador;

        -- Verificar si es local o visitante
        SELECT @v_EsLocal = CASE 
            WHEN IdEquipoLocal = @v_IdEquipo THEN 1 
            ELSE 0 
        END
        FROM PARTIDOS 
        WHERE IdPartido = @v_IdPartido;

        -- Eliminar gol
        DELETE FROM GOLES WHERE IdGol = @p_IdGol;

        -- Ajustar marcador
        IF @v_EsLocal = 1
            UPDATE PARTIDOS 
            SET GolesLocal = GolesLocal - 1
            WHERE IdPartido = @v_IdPartido;
        ELSE
            UPDATE PARTIDOS 
            SET GolesVisitante = GolesVisitante - 1
            WHERE IdPartido = @v_IdPartido;

        -- Recalcular posiciones
        EXEC SP_ACTUALIZAR_POSICIONES @v_IdPartido;

        -- Auditoría
        INSERT INTO MOVIMIENTOS (IdUsuario, IdTipoMovimiento, TablaAfectada, Observacion)
        VALUES (@p_IdUsuario, 3, 'GOLES', 'Gol eliminado ID: ' + CAST(@p_IdGol AS NVARCHAR(10)));

    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GOL_IN]    Script Date: 26/08/2025 05:59:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP_GOL_IN
CREATE PROCEDURE [dbo].[SP_GOL_IN]
    @p_IdPartido           INT,
    @p_IdJugador           INT,
    @p_Minuto              INT,
    @p_EsPenalti           BIT,
    @p_EsFalta             BIT,
    @p_IdJugadorAsistencia INT = NULL,
    @p_IdUsuario           INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        DECLARE @v_IdEquipo INT;
        SELECT @v_IdEquipo = IdEquipo
        FROM JUGADORES
        WHERE IdJugador = @p_IdJugador;

        IF NOT EXISTS (
            SELECT 1
            FROM PARTIDOS
            WHERE IdPartido = @p_IdPartido
              AND (@v_IdEquipo IN (IdEquipoLocal, IdEquipoVisitante))
        )
            THROW 80001, 'Error: El jugador no pertenece a los equipos del partido', 1;

        INSERT INTO GOLES (
            IdPartido,
            IdJugador,
            Minuto,
            EsPenalti,
            EsFalta,
            IdJugadorAsistencia
        )
        VALUES (
            @p_IdPartido,
            @p_IdJugador,
            @p_Minuto,
            @p_EsPenalti,
            @p_EsFalta,
            @p_IdJugadorAsistencia
        );

        IF EXISTS (
            SELECT 1
            FROM PARTIDOS
            WHERE IdPartido    = @p_IdPartido
              AND IdEquipoLocal= @v_IdEquipo
        )
            UPDATE PARTIDOS
            SET GolesLocal = ISNULL(GolesLocal, 0) + 1
            WHERE IdPartido = @p_IdPartido;
        ELSE
            UPDATE PARTIDOS
            SET GolesVisitante = ISNULL(GolesVisitante, 0) + 1
            WHERE IdPartido = @p_IdPartido;

        INSERT INTO MOVIMIENTOS (IdUsuario, IdTipoMovimiento, TablaAfectada, Observacion)
        VALUES (
            @p_IdUsuario,
            1,
            'GOLES',
            'Gol registrado: Jugador ID ' + CAST(@p_IdJugador AS NVARCHAR(10))
        );

        SELECT CAST(SCOPE_IDENTITY() AS INT) AS IdGol;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GOLES_PARTIDO_CN]    Script Date: 26/08/2025 05:59:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP_GOLES_PARTIDO_CN
CREATE PROCEDURE [dbo].[SP_GOLES_PARTIDO_CN]
    @p_IdPartido INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT 
        g.IdGol,
        g.Minuto,
        j.Nombre       AS Jugador,
        j.Numero,
        CASE 
            WHEN g.EsPenalti = 1 THEN 'Penalti'
            WHEN g.EsFalta   = 1 THEN 'Falta'
            ELSE 'Normal'
        END             AS TipoGol,
        a.Nombre       AS Asistencia
    FROM GOLES g
    JOIN JUGADORES j ON g.IdJugador           = j.IdJugador
    LEFT JOIN JUGADORES a ON g.IdJugadorAsistencia = a.IdJugador
    WHERE g.IdPartido = @p_IdPartido
    ORDER BY g.Minuto;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_JUGADOR_CN]    Script Date: 26/08/2025 05:59:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_JUGADOR_CN]
    @p_IdTorneo INT,
    @p_IdEquipo INT = NULL 
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        j.IdJugador,
        j.Nombre AS Jugador,
        j.Numero,
        e.IdEquipo,
        e.Nombre AS Equipo,
        pj.Nombre AS Posicion,
        pj.Abreviatura,
        j.FechaAlta
    FROM JUGADORES j
    INNER JOIN EQUIPOS e ON j.IdEquipo = e.IdEquipo
    LEFT JOIN POSICIONES_JUGADOR pj ON j.IdPosicionJugador = pj.IdPosicionJugador
    WHERE e.IdTorneo = @p_IdTorneo
      AND e.Habilitado = 1
      AND (@p_IdEquipo IS NULL OR e.IdEquipo = @p_IdEquipo)
    ORDER BY 
        e.Nombre,
        pj.IdPosicionJugador,
        j.Numero,
        j.Nombre;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_JUGADOR_ED]    Script Date: 26/08/2025 05:59:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP_JUGADOR_ED
CREATE PROCEDURE [dbo].[SP_JUGADOR_ED]
    @p_IdJugador        INT,
    @p_IdPosicionJugador INT,
    @p_Nombre           NVARCHAR(100),
    @p_Numero           INT,
    @p_IdUsuario        INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        UPDATE JUGADORES
        SET 
            IdPosicionJugador = @p_IdPosicionJugador,
            Nombre            = @p_Nombre,
            Numero            = @p_Numero,
            IdUsuario         = @p_IdUsuario
        WHERE IdJugador = @p_IdJugador;

        INSERT INTO MOVIMIENTOS (IdUsuario, IdTipoMovimiento, TablaAfectada, Observacion)
        VALUES (
            @p_IdUsuario,
            2,
            'JUGADORES',
            'Actualización jugador ID: ' + CAST(@p_IdJugador AS NVARCHAR(10))
        );
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_JUGADOR_IN]    Script Date: 26/08/2025 05:59:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP_JUGADOR_IN
CREATE PROCEDURE [dbo].[SP_JUGADOR_IN]
    @p_IdEquipo          INT,
    @p_IdPosicionJugador INT,
    @p_Nombre            NVARCHAR(100),
    @p_Numero            INT,
    @p_IdUsuario         INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        IF NOT EXISTS (
            SELECT 1 
            FROM EQUIPOS 
            WHERE IdEquipo = @p_IdEquipo 
              AND Habilitado = 1
        )
            THROW 60001, 'Error: El equipo no existe o no está habilitado', 1;

        INSERT INTO JUGADORES (IdEquipo, IdPosicionJugador, Nombre, Numero, IdUsuario)
        VALUES (@p_IdEquipo, @p_IdPosicionJugador, @p_Nombre, @p_Numero, @p_IdUsuario);

        INSERT INTO MOVIMIENTOS (IdUsuario, IdTipoMovimiento, TablaAfectada, Observacion)
        VALUES (
            @p_IdUsuario,
            3,
            'JUGADORES',
            'Alta jugador: ' + @p_Nombre
        );

        SELECT CAST(SCOPE_IDENTITY() AS INT) AS IdJugador;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_JUGADORES_DESTACADOS_EQUIPO]    Script Date: 26/08/2025 05:59:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP_JUGADORES_DESTACADOS_EQUIPO
CREATE PROCEDURE [dbo].[SP_JUGADORES_DESTACADOS_EQUIPO]
    @p_IdEquipo INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT TOP 5
        j.IdJugador,
        j.Nombre,
        j.Numero,
        COUNT(g.IdGol)   AS Goles,
        pj.Nombre        AS Posicion
    FROM JUGADORES j
    LEFT JOIN GOLES g ON j.IdJugador        = g.IdJugador
    LEFT JOIN POSICIONES_JUGADOR pj ON j.IdPosicionJugador = pj.IdPosicionJugador
    WHERE j.IdEquipo = @p_IdEquipo
    GROUP BY j.IdJugador, j.Nombre, j.Numero, pj.Nombre
    ORDER BY Goles DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_JUGADORES_SUSPENDIDOS_PARTIDO_CN]    Script Date: 26/08/2025 05:59:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_JUGADORES_SUSPENDIDOS_PARTIDO_CN]
    @p_IdPartido INT
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE 
        @v_IdTorneo INT,
        @v_IdEquipoLocal INT,
        @v_IdEquipoVisitante INT;

    -- Obtener información del partido
    SELECT 
        @v_IdTorneo = ft.IdTorneo,
        @v_IdEquipoLocal = p.IdEquipoLocal,
        @v_IdEquipoVisitante = p.IdEquipoVisitante
    FROM PARTIDOS p
    JOIN FASES_TORNEO ft ON p.IdFase = ft.IdFase
    WHERE p.IdPartido = @p_IdPartido;

    -- Jugadores suspendidos del local
    SELECT 
        'LOCAL' AS TipoEquipo,
        j.IdJugador,
        j.Nombre AS Jugador,
        j.Numero,
        e.Nombre AS Equipo,
        s.PartidosSuspension,
        ts.Nombre AS TipoSancion,
        s.FechaSancion
    FROM SANCIONES s
    JOIN JUGADORES j ON s.IdJugador = j.IdJugador
    JOIN EQUIPOS e ON j.IdEquipo = e.IdEquipo
    JOIN TIPOS_SANCION ts ON s.IdTipoSancion = ts.IdTipoSancion
    JOIN PARTIDOS p ON s.IdPartido = p.IdPartido
    JOIN FASES_TORNEO ft ON p.IdFase = ft.IdFase
    WHERE ft.IdTorneo = @v_IdTorneo
      AND s.PartidosSuspension > 0
      AND j.IdEquipo = @v_IdEquipoLocal
    UNION ALL
    -- Jugadores suspendidos del visitante
    SELECT 
        'VISITANTE' AS TipoEquipo,
        j.IdJugador,
        j.Nombre AS Jugador,
        j.Numero,
        e.Nombre AS Equipo,
        s.PartidosSuspension,
        ts.Nombre AS TipoSancion,
        s.FechaSancion
    FROM SANCIONES s
    JOIN JUGADORES j ON s.IdJugador = j.IdJugador
    JOIN EQUIPOS e ON j.IdEquipo = e.IdEquipo
    JOIN TIPOS_SANCION ts ON s.IdTipoSancion = ts.IdTipoSancion
    JOIN PARTIDOS p ON s.IdPartido = p.IdPartido
    JOIN FASES_TORNEO ft ON p.IdFase = ft.IdFase
    WHERE ft.IdTorneo = @v_IdTorneo
      AND s.PartidosSuspension > 0
      AND j.IdEquipo = @v_IdEquipoVisitante
    ORDER BY TipoEquipo, Equipo, s.PartidosSuspension DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_PARTIDO_IN]    Script Date: 26/08/2025 05:59:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[SP_PARTIDO_IN]
	@p_IdTorneo           INT, 
    @p_IdFase           INT,  
    @p_IdEquipoLocal    INT,  
    @p_IdEquipoVisitante INT,  
    @p_Fecha            DATETIME,  
    @p_Estadio          NVARCHAR(100),  
    @p_IdUsuario        INT  
AS  
BEGIN  
    SET NOCOUNT ON;  
    BEGIN TRY  
        IF @p_IdEquipoLocal = @p_IdEquipoVisitante  
            THROW 60011, 'Error: Equipo local y visitante no pueden ser iguales', 1;  
  
        INSERT INTO PARTIDOS (IdTorneo,IdFase, IdEquipoLocal, IdEquipoVisitante, Fecha, Estadio, IdUsuario)  
        VALUES (@p_IdTorneo,@p_IdFase, @p_IdEquipoLocal, @p_IdEquipoVisitante, @p_Fecha, @p_Estadio, @p_IdUsuario);  
  
        SELECT CAST(SCOPE_IDENTITY() AS INT) AS IdPartido;  
    END TRY  
    BEGIN CATCH  
        THROW;  
    END CATCH  
END  
GO
/****** Object:  StoredProcedure [dbo].[SP_PARTIDO_RESULTADO_ED]    Script Date: 26/08/2025 05:59:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP_PARTIDO_RESULTADO_ED
CREATE PROCEDURE [dbo].[SP_PARTIDO_RESULTADO_ED]
    @p_IdPartido      INT,
    @p_GolesLocal     INT,
    @p_GolesVisitante INT,
    @p_IdUsuario      INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
		 -- Verificar si ya tiene resultado
        IF EXISTS (SELECT 1 FROM PARTIDOS 
                  WHERE IdPartido = @p_IdPartido 
                  AND GolesLocal IS NOT NULL 
                  AND GolesVisitante IS NOT NULL)
        BEGIN
            THROW 50001, 'Error: El partido ya tiene resultado registrado', 1;
        END
		
        UPDATE PARTIDOS
        SET 
            GolesLocal     = @p_GolesLocal,
            GolesVisitante = @p_GolesVisitante,
            IdUsuario      = @p_IdUsuario
        WHERE IdPartido = @p_IdPartido;

        -- Actualiza posiciones (asume que SP_ACTUALIZAR_POSICIONES ya está en dbo)
        EXEC dbo.SP_ACTUALIZAR_POSICIONES @p_IdPartido;
		--  Actualizar suspensiones
		EXEC SP_ACTUALIZAR_SUSPENSIONES @p_IdPartido;

    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_PARTIDOS_CALENDARIO_CN]    Script Date: 26/08/2025 05:59:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_PARTIDOS_CALENDARIO_CN]
    @p_IdTorneo         INT  = NULL,
    @p_IdFase           INT  = NULL,
    @p_IdEstadoPartido  INT  = NULL  
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        p.IdPartido,
        t.IdTorneo,
        t.Nombre                         AS Torneo,
        f.IdFase,
        f.Nombre                         AS Fase,
        j.IdJornada,
        j.Numero                         AS Jornada,
        CONVERT(date,  p.Fecha)          AS Fecha,
        CONVERT(time(0), p.Fecha)        AS Hora,
        el.IdEquipo                      AS IdEquipoLocal,
        el.Nombre                        AS EquipoLocal,
        ev.IdEquipo                      AS IdEquipoVisitante,
        ev.Nombre                        AS EquipoVisitante,
        tp.IdTipoPartido,
        tp.Nombre                        AS TipoPartido,
        ep.IdEstadoPartido,
        ep.Nombre                        AS EstadoPartido,
        ep.Codigo                        AS CodigoEstado,
        p.Estadio,
        p.Observaciones
    FROM PARTIDOS p
    INNER JOIN FASES_TORNEO   f  ON p.IdFase            = f.IdFase
    INNER JOIN TORNEOS        t  ON p.IdTorneo          = t.IdTorneo
    LEFT  JOIN JORNADAS       j  ON p.IdJornada         = j.IdJornada
    INNER JOIN EQUIPOS        el ON p.IdEquipoLocal     = el.IdEquipo
    INNER JOIN EQUIPOS        ev ON p.IdEquipoVisitante = ev.IdEquipo
    INNER JOIN TIPOS_PARTIDO  tp ON p.IdTipoPartido     = tp.IdTipoPartido
    INNER JOIN ESTADOS_PARTIDO ep ON p.IdEstadoPartido  = ep.IdEstadoPartido
    WHERE (@p_IdTorneo IS NULL        OR p.IdTorneo         = @p_IdTorneo)
      AND (@p_IdFase   IS NULL        OR p.IdFase           = @p_IdFase)
      AND (@p_IdEstadoPartido IS NULL OR p.IdEstadoPartido  = @p_IdEstadoPartido)
    ORDER BY
        p.Fecha ASC,
        j.Numero ASC,
        p.IdPartido ASC;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_PARTIDOS_EQUIPO_CN]    Script Date: 26/08/2025 05:59:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP_PARTIDOS_EQUIPO_CN
CREATE PROCEDURE [dbo].[SP_PARTIDOS_EQUIPO_CN]
    @p_IdEquipo INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT 
        p.IdPartido,
        p.Fecha,
        CASE 
            WHEN p.IdEquipoLocal   = @p_IdEquipo THEN ev.Nombre
            ELSE el.Nombre
        END AS Rival,
        p.GolesLocal,
        p.GolesVisitante,
        CASE
            WHEN p.GolesLocal = p.GolesVisitante THEN 'E'
            WHEN (p.IdEquipoLocal = @p_IdEquipo AND p.GolesLocal > p.GolesVisitante)
              OR (p.IdEquipoVisitante = @p_IdEquipo AND p.GolesVisitante > p.GolesLocal)
              THEN 'G'
            ELSE 'P'
        END AS Resultado
    FROM PARTIDOS p
    JOIN EQUIPOS el ON p.IdEquipoLocal    = el.IdEquipo
    JOIN EQUIPOS ev ON p.IdEquipoVisitante = ev.IdEquipo
    WHERE p.IdEquipoLocal   = @p_IdEquipo
       OR p.IdEquipoVisitante = @p_IdEquipo
    ORDER BY p.Fecha DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_POSICION_JUGADOR_DEL]    Script Date: 26/08/2025 05:59:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ELIMINAR (con validación de FK)
CREATE   PROCEDURE [dbo].[SP_POSICION_JUGADOR_DEL]
  @p_IdPosicionJugador INT,
  @p_IdUsuario INT
AS
BEGIN
  SET NOCOUNT ON;
  BEGIN TRY
    IF EXISTS (SELECT 1 FROM JUGADORES WHERE IdPosicionJugador = @p_IdPosicionJugador)
      THROW 70001, 'No se puede eliminar: hay jugadores usando esta posición', 1;

    DELETE FROM POSICIONES_JUGADOR
    WHERE IdPosicionJugador = @p_IdPosicionJugador;

    INSERT INTO MOVIMIENTOS (IdUsuario, IdTipoMovimiento, TablaAfectada, Observacion)
    VALUES (@p_IdUsuario, 3, 'POSICIONES_JUGADOR',
            'Eliminación posición ID: ' + CAST(@p_IdPosicionJugador AS NVARCHAR(10)));

    SELECT 'Posición eliminada correctamente' AS Mensaje;
  END TRY
  BEGIN CATCH
    THROW;
  END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_POSICION_JUGADOR_ED]    Script Date: 26/08/2025 05:59:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_POSICION_JUGADOR_ED]
  @p_IdPosicionJugador INT,
  @p_Nombre NVARCHAR(50),
  @p_Abreviatura NVARCHAR(3) = NULL,
  @p_IdUsuario INT
AS
BEGIN
  SET NOCOUNT ON;
  BEGIN TRY
    UPDATE POSICIONES_JUGADOR
    SET Nombre = LTRIM(RTRIM(@p_Nombre)),
        Abreviatura = NULLIF(LTRIM(RTRIM(@p_Abreviatura)), '')
    WHERE IdPosicionJugador = @p_IdPosicionJugador;

    INSERT INTO MOVIMIENTOS (IdUsuario, IdTipoMovimiento, TablaAfectada, Observacion)
    VALUES (@p_IdUsuario, 2, 'POSICIONES_JUGADOR',
            'Actualización posición ID: ' + CAST(@p_IdPosicionJugador AS NVARCHAR(10)));

    SELECT 'Posición actualizada correctamente' AS Mensaje;
  END TRY
  BEGIN CATCH
    THROW;
  END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_POSICION_JUGADOR_IN]    Script Date: 26/08/2025 05:59:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_POSICION_JUGADOR_IN]
  @p_Nombre NVARCHAR(50),
  @p_Abreviatura NVARCHAR(3) = NULL,
  @p_IdUsuario INT
AS
BEGIN
  SET NOCOUNT ON;
  BEGIN TRY
    INSERT INTO POSICIONES_JUGADOR(Nombre, Abreviatura)
    VALUES(LTRIM(RTRIM(@p_Nombre)), NULLIF(LTRIM(RTRIM(@p_Abreviatura)), ''));
    
    DECLARE @v_Id INT = CAST(SCOPE_IDENTITY() AS INT);

    INSERT INTO MOVIMIENTOS (IdUsuario, IdTipoMovimiento, TablaAfectada, Observacion)
    VALUES (@p_IdUsuario, 1, 'POSICIONES_JUGADOR',
            'Alta posición: ' + LTRIM(RTRIM(@p_Nombre)));

    SELECT @v_Id AS IdPosicionJugador;
  END TRY
  BEGIN CATCH
    THROW;
  END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_POSICIONES_JUGADOR_CN]    Script Date: 26/08/2025 05:59:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_POSICIONES_JUGADOR_CN]
  @p_IdPosicionJugador INT
AS
BEGIN
  SET NOCOUNT ON;
  SELECT 
  IdPosicionJugador, 
  Nombre, 
  Abreviatura
  FROM POSICIONES_JUGADOR
  WHERE IdPosicionJugador = @p_IdPosicionJugador;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_POSICIONES_JUGADOR_CT]    Script Date: 26/08/2025 05:59:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_POSICIONES_JUGADOR_CT]
AS
BEGIN
  SET NOCOUNT ON;
  SELECT 
  IdPosicionJugador, 
  Nombre, 
  Abreviatura
  FROM POSICIONES_JUGADOR
  ORDER BY Nombre;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_POSICIONES_POR_FASE_CN]    Script Date: 26/08/2025 05:59:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_POSICIONES_POR_FASE_CN]    
    @p_IdFase INT    
AS    
BEGIN    
    SET NOCOUNT ON;    
    SELECT    
        e.IdEquipo,    
        e.Nombre,    
        COUNT(p.IdPartido) AS Jugados,    
        SUM(    
            CASE     
                WHEN (p.IdEquipoLocal = e.IdEquipo AND p.GolesLocal > p.GolesVisitante)    
                  OR (p.IdEquipoVisitante = e.IdEquipo AND p.GolesVisitante > p.GolesLocal)    
                THEN 1 ELSE 0     
            END    
        ) AS Ganados,    
        SUM(    
            CASE    
                WHEN p.GolesLocal = p.GolesVisitante     
                  AND (p.IdEquipoLocal = e.IdEquipo OR p.IdEquipoVisitante = e.IdEquipo)    
                THEN 1 ELSE 0     
            END    
        ) AS Empatados,    
        SUM(    
            CASE    
                WHEN (p.IdEquipoLocal = e.IdEquipo AND p.GolesLocal < p.GolesVisitante)    
                  OR (p.IdEquipoVisitante = e.IdEquipo AND p.GolesVisitante < p.GolesLocal)    
                THEN 1 ELSE 0    
            END    
        ) AS Perdidos,    
        SUM(    
            CASE     
                WHEN p.IdEquipoLocal = e.IdEquipo THEN p.GolesLocal    
                WHEN p.IdEquipoVisitante = e.IdEquipo THEN p.GolesVisitante    
                ELSE 0     
            END    
        ) AS GolesFavor,    
        SUM(    
            CASE     
                WHEN p.IdEquipoLocal = e.IdEquipo THEN p.GolesVisitante    
                WHEN p.IdEquipoVisitante = e.IdEquipo THEN p.GolesLocal    
                ELSE 0     
            END    
        ) AS GolesContra,    
        (    
            SUM(    
                CASE     
                    WHEN p.IdEquipoLocal = e.IdEquipo THEN p.GolesLocal    
                    WHEN p.IdEquipoVisitante = e.IdEquipo THEN p.GolesVisitante    
                    ELSE 0     
                END    
            )    
            -     
            SUM(    
                CASE     
                    WHEN p.IdEquipoLocal = e.IdEquipo THEN p.GolesVisitante    
                    WHEN p.IdEquipoVisitante = e.IdEquipo THEN p.GolesLocal    
                    ELSE 0     
                END    
            )    
        ) AS DiferenciaGol,    
        SUM(    
            CASE     
                WHEN (p.IdEquipoLocal = e.IdEquipo AND p.GolesLocal > p.GolesVisitante)    
                  OR (p.IdEquipoVisitante = e.IdEquipo AND p.GolesVisitante > p.GolesLocal)    
                THEN 3    
                WHEN p.GolesLocal = p.GolesVisitante     
                  AND (p.IdEquipoLocal = e.IdEquipo OR p.IdEquipoVisitante = e.IdEquipo)    
                THEN 1    
                ELSE 0     
            END    
        ) AS Puntos    
    FROM EQUIPOS e    
    LEFT JOIN PARTIDOS p     
      ON p.IdFase = @p_IdFase    
     AND (p.IdEquipoLocal = e.IdEquipo OR p.IdEquipoVisitante = e.IdEquipo)    
    GROUP BY e.IdEquipo, e.Nombre    
    ORDER BY Puntos DESC, DiferenciaGol DESC, GolesFavor DESC;    
END 
GO
/****** Object:  StoredProcedure [dbo].[SP_POSICIONES_TORNEO_CN]    Script Date: 26/08/2025 05:59:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_POSICIONES_TORNEO_CN]    
    @p_IdTorneo INT    
AS    
BEGIN    
    SET NOCOUNT ON;    
    SELECT    
        e.IdEquipo,    
        e.Nombre,    
        COUNT(p.IdPartido) AS Jugados,    
        SUM(    
            CASE     
                WHEN (p.IdEquipoLocal = e.IdEquipo AND p.GolesLocal > p.GolesVisitante)    
                  OR (p.IdEquipoVisitante = e.IdEquipo AND p.GolesVisitante > p.GolesLocal)    
                THEN 1 ELSE 0    
            END    
        ) AS Ganados,    
        SUM(    
            CASE    
                WHEN p.GolesLocal = p.GolesVisitante    
                  AND (p.IdEquipoLocal = e.IdEquipo OR p.IdEquipoVisitante = e.IdEquipo)    
                THEN 1 ELSE 0    
            END    
        ) AS Empatados,    
        SUM(    
            CASE    
                WHEN (p.IdEquipoLocal = e.IdEquipo AND p.GolesLocal < p.GolesVisitante)    
                  OR (p.IdEquipoVisitante = e.IdEquipo AND p.GolesVisitante < p.GolesLocal)    
                THEN 1 ELSE 0    
            END    
        ) AS Perdidos,    
        SUM(    
            CASE     
                WHEN p.IdEquipoLocal = e.IdEquipo THEN p.GolesLocal    
                WHEN p.IdEquipoVisitante = e.IdEquipo THEN p.GolesVisitante    
                ELSE 0    
            END    
        ) AS GolesFavor,    
        SUM(    
            CASE     
                WHEN p.IdEquipoLocal = e.IdEquipo THEN p.GolesVisitante    
                WHEN p.IdEquipoVisitante = e.IdEquipo THEN p.GolesLocal    
                ELSE 0    
            END    
        ) AS GolesContra,    
        (    
            SUM(    
                CASE     
                    WHEN p.IdEquipoLocal = e.IdEquipo THEN p.GolesLocal    
                    WHEN p.IdEquipoVisitante = e.IdEquipo THEN p.GolesVisitante    
                    ELSE 0    
                END    
            )    
            -    
            SUM(    
                CASE     
                    WHEN p.IdEquipoLocal = e.IdEquipo THEN p.GolesVisitante    
                    WHEN p.IdEquipoVisitante = e.IdEquipo THEN p.GolesLocal    
                    ELSE 0    
                END    
            )    
        ) AS DiferenciaGol,    
        SUM(    
            CASE     
                WHEN (p.IdEquipoLocal = e.IdEquipo AND p.GolesLocal > p.GolesVisitante)    
                  OR (p.IdEquipoVisitante = e.IdEquipo AND p.GolesVisitante > p.GolesLocal)    
                THEN 3    
                WHEN p.GolesLocal = p.GolesVisitante    
                  AND (p.IdEquipoLocal = e.IdEquipo OR p.IdEquipoVisitante = e.IdEquipo)    
                THEN 1    
                ELSE 0    
            END    
        ) AS Puntos    
    FROM EQUIPOS e    
    INNER JOIN FASES_TORNEO f     
        ON f.IdTorneo = @p_IdTorneo    
    LEFT JOIN PARTIDOS p     
      ON p.IdFase = f.IdFase    
     AND (p.IdEquipoLocal = e.IdEquipo OR p.IdEquipoVisitante = e.IdEquipo)    
    GROUP BY e.IdEquipo, e.Nombre    
    ORDER BY Puntos DESC, DiferenciaGol DESC, GolesFavor DESC;    
END 
GO
/****** Object:  StoredProcedure [dbo].[SP_PROGRAMAR_PARTIDO]    Script Date: 26/08/2025 05:59:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[SP_PROGRAMAR_PARTIDO]      
    @p_IdTorneo           INT,      
    @p_IdFase             INT,      
    @p_FechaHora          DATETIME,    
    @p_IdEquipoLocal      INT,      
    @p_IdEquipoVisitante  INT,      
    @p_IdTipoPartido      INT,      
    @p_IdUsuario          INT      
AS      
BEGIN      
    SET NOCOUNT ON;      
    BEGIN TRY      
        DECLARE       
            @v_Estadio           NVARCHAR(100),      
            @v_AfectaPosiciones  BIT,      
            @v_IdJornada         INT,    
            @v_IdPartido         INT,    
            @v_FechaSolo         DATE;    
    
        SET @v_FechaSolo = CAST(@p_FechaHora AS DATE);    
    
        IF @p_IdEquipoLocal = @p_IdEquipoVisitante      
            THROW 50001, 'Un equipo no puede jugar contra sí mismo', 1;      
    
        SELECT @v_AfectaPosiciones = AfectaPosiciones      
        FROM TIPOS_PARTIDO      
        WHERE IdTipoPartido = @p_IdTipoPartido;      
    
        IF @v_AfectaPosiciones IS NULL      
            THROW 50002, 'Tipo de partido no válido', 1;      
    
        IF @v_AfectaPosiciones = 1      
        BEGIN      
            SELECT @v_IdJornada = IdJornada      
            FROM JORNADAS      
            WHERE IdFase = @p_IdFase AND Fecha = @v_FechaSolo;      
    
            IF @v_IdJornada IS NULL      
            BEGIN      
                INSERT INTO JORNADAS (IdFase, Numero, Fecha, IdTipoJornada)      
                VALUES (      
                    @p_IdFase,      
                    COALESCE((SELECT MAX(Numero) FROM JORNADAS WHERE IdFase = @p_IdFase), 0) + 1,      
                    @v_FechaSolo,      
                    @p_IdTipoPartido      
                );      
                SET @v_IdJornada = CAST(SCOPE_IDENTITY() AS INT);      
            END      
        END      
    
        SELECT @v_Estadio = 'Estadio ' + Nombre      
        FROM EQUIPOS      
        WHERE IdEquipo = @p_IdEquipoLocal;      
    
        INSERT INTO PARTIDOS (  
			IdTorneo,  
            IdFase,      
            IdJornada,      
            IdEquipoLocal,      
            IdEquipoVisitante,      
            Fecha,      
            Estadio,      
            IdTipoPartido,      
            IdUsuario      
        )      
        VALUES (   
			@p_IdTorneo,  
            @p_IdFase,      
            CASE WHEN @v_AfectaPosiciones = 1 THEN @v_IdJornada ELSE NULL END,      
            @p_IdEquipoLocal,      
            @p_IdEquipoVisitante,      
            @p_FechaHora,     -- <<< directo, sin concatenar    
            @v_Estadio,      
            @p_IdTipoPartido,      
            @p_IdUsuario      
        );      
        SET @v_IdPartido = CAST(SCOPE_IDENTITY() AS INT);    
    
        INSERT INTO MOVIMIENTOS (IdUsuario, IdTipoMovimiento, TablaAfectada, Observacion)      
        VALUES (      
            @p_IdUsuario,      
            2,      
            'PARTIDOS',      
            'Programado partido tipo: ' + (SELECT Nombre FROM TIPOS_PARTIDO WHERE IdTipoPartido = @p_IdTipoPartido)    
        );      
    
        SELECT 'Partido programado con éxito (ID: ' + CAST(@v_IdPartido AS VARCHAR(10)) + ')' AS Mensaje;      
    END TRY      
    BEGIN CATCH      
        THROW;      
    END CATCH      
END 
GO
/****** Object:  StoredProcedure [dbo].[SP_PROGRAMAR_PARTIDO_ADICIONAL]    Script Date: 26/08/2025 05:59:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[SP_PROGRAMAR_PARTIDO_ADICIONAL]    
    @p_IdTorneo          INT,    
    @p_IdFase            INT,    
    @p_FechaHora         DATETIME,   
    @p_IdEquipoLocal     INT,    
    @p_IdEquipoVisitante INT,    
    @p_IdTipoPartido     INT,    
    @p_IdUsuario         INT    
AS    
BEGIN    
    SET NOCOUNT ON;    
    BEGIN TRY    
        DECLARE    
            @v_Estadio          NVARCHAR(100),    
            @v_IdJornada        INT,    
            @v_AfectaPosiciones BIT,    
            @v_EsOficial        BIT,  
            @v_FechaSolo        DATE;  
  
        -- Derivar solo la fecha para jornadas  
        SET @v_FechaSolo = CAST(@p_FechaHora AS DATE);  
  
        -- 1) Validaciones básicas  
        IF @p_IdEquipoLocal = @p_IdEquipoVisitante    
            THROW 50011, 'Error: Un equipo no puede jugar contra sí mismo', 1;    
  
        IF NOT EXISTS (SELECT 1 FROM EQUIPOS WHERE IdEquipo = @p_IdEquipoLocal AND IdTorneo = @p_IdTorneo)    
           OR NOT EXISTS (SELECT 1 FROM EQUIPOS WHERE IdEquipo = @p_IdEquipoVisitante AND IdTorneo = @p_IdTorneo)    
            THROW 50012, 'Error: Uno o ambos equipos no pertenecen al torneo', 1;    
  
        -- 2) Leer datos del tipo de partido  
        SELECT @v_EsOficial = EsOficial, @v_AfectaPosiciones = AfectaPosiciones  
        FROM TIPOS_PARTIDO    
        WHERE IdTipoPartido = @p_IdTipoPartido;    
  
        IF @v_EsOficial IS NULL    
            THROW 50013, 'Error: Tipo de partido no válido', 1;    
  
        -- 3) Validar duplicados si es oficial (mismo cruce y mismo tipo en la fase)  
        IF @v_EsOficial = 1    
        BEGIN    
            IF EXISTS (  
                SELECT 1   
                FROM PARTIDOS     
                WHERE IdFase = @p_IdFase    
                  AND ((IdEquipoLocal = @p_IdEquipoLocal AND IdEquipoVisitante = @p_IdEquipoVisitante)    
                    OR (IdEquipoLocal = @p_IdEquipoVisitante AND IdEquipoVisitante = @p_IdEquipoLocal))    
                  AND IdTipoPartido = @p_IdTipoPartido    
            )    
                THROW 50014, 'Error: Partido oficial duplicado', 1;    
        END    
  
        -- 4) Obtener o crear jornada (por fecha-calendario del partido)  
        IF @v_AfectaPosiciones = 1    
        BEGIN    
            SELECT @v_IdJornada = IdJornada    
            FROM JORNADAS    
            WHERE IdFase = @p_IdFase AND Fecha = @v_FechaSolo;    
  
            IF @v_IdJornada IS NULL    
            BEGIN    
                INSERT INTO JORNADAS (IdFase, Numero, Fecha, IdTipoJornada)    
                VALUES (  
                    @p_IdFase,    
                    COALESCE((SELECT MAX(Numero) FROM JORNADAS WHERE IdFase = @p_IdFase),0) + 1,    
                    @v_FechaSolo,    
                    @p_IdTipoPartido    
                );    
                SET @v_IdJornada = CAST(SCOPE_IDENTITY() AS INT);    
            END    
        END    
  
        -- 5) Obtener estadio (derivado del local)  
        SELECT @v_Estadio = 'Estadio ' + Nombre    
        FROM EQUIPOS    
        WHERE IdEquipo = @p_IdEquipoLocal;    
  
        -- 6) Insertar partido (usa directamente @p_FechaHora)  
        INSERT INTO PARTIDOS (
			IdTorneo,
            IdFase,    
            IdEquipoLocal,    
            IdEquipoVisitante,    
            Fecha,               -- DATETIME del partido  
            Estadio,    
            IdTipoPartido,    
            IdUsuario,    
            IdJornada    
        )    
        VALUES (
			@p_IdTorneo,
            @p_IdFase,    
            @p_IdEquipoLocal,    
            @p_IdEquipoVisitante,    
            @p_FechaHora,        -- <<< sin concatenar strings  
            @v_Estadio,    
            @p_IdTipoPartido,    
            @p_IdUsuario,    
            CASE WHEN @v_AfectaPosiciones = 1 THEN @v_IdJornada ELSE NULL END    
        );    
  
        -- 7) Auditoría  
        INSERT INTO MOVIMIENTOS (IdUsuario, IdTipoMovimiento, TablaAfectada, Observacion)    
        VALUES (  
            @p_IdUsuario,    
            2,    
            'PARTIDOS',    
            'Partido '     
             + CASE WHEN @v_EsOficial = 1 THEN 'OFICIAL' ELSE 'AMISTOSO' END    
             + ' programado: '    
             + (SELECT Nombre FROM EQUIPOS WHERE IdEquipo = @p_IdEquipoLocal)    
             + ' vs '    
             + (SELECT Nombre FROM EQUIPOS WHERE IdEquipo = @p_IdEquipoVisitante)  
             + ' el ' + CONVERT(varchar(16), @p_FechaHora, 120)  
        );    
  
        SELECT 'Partido programado correctamente' AS Mensaje;    
    END TRY    
    BEGIN CATCH    
        THROW;    
    END CATCH    
END  
GO
/****** Object:  StoredProcedure [dbo].[SP_SANCION_IN]    Script Date: 26/08/2025 05:59:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP_SANCION_IN
CREATE PROCEDURE [dbo].[SP_SANCION_IN]
    @p_IdPartido     INT,
    @p_IdJugador     INT,
    @p_IdTipoSancion INT,
    @p_Minuto        INT,
    @p_Observaciones NVARCHAR(MAX),
    @p_IdUsuario     INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        DECLARE 
            @v_IdEquipo        INT,
            @v_EsDobleAmarilla BIT = 0;

        -- Validar jugador en partido
        SELECT @v_IdEquipo = IdEquipo
        FROM JUGADORES
        WHERE IdJugador = @p_IdJugador;

        IF NOT EXISTS (
            SELECT 1 FROM PARTIDOS
            WHERE IdPartido = @p_IdPartido
              AND (@v_IdEquipo IN (IdEquipoLocal, IdEquipoVisitante))
        )
            THROW 50021, 'Error: El jugador no pertenece al partido', 1;

        -- Doble amarilla?
        IF @p_IdTipoSancion = 1
        BEGIN
            SELECT @v_EsDobleAmarilla = CASE WHEN COUNT(*) >= 1 THEN 1 ELSE 0 END
            FROM SANCIONES
            WHERE IdPartido   = @p_IdPartido
              AND IdJugador   = @p_IdJugador
              AND IdTipoSancion = 1;
        END

        INSERT INTO SANCIONES (
            IdPartido,
            IdJugador,
            IdTipoSancion,
            Minuto,
            Observaciones,
            FechaSancion,
            EsDobleAmarilla
        )
        VALUES (
            @p_IdPartido,
            @p_IdJugador,
            @p_IdTipoSancion,
            @p_Minuto,
            @p_Observaciones,
            CONVERT(DATE, GETDATE()),
            @v_EsDobleAmarilla
        );

        -- Auditoría
        INSERT INTO MOVIMIENTOS (IdUsuario, IdTipoMovimiento, TablaAfectada, Observacion)
        VALUES (
            @p_IdUsuario,
            1,
            'SANCIONES',
            'Sanción registrada: ' +
              (SELECT Nombre FROM TIPOS_SANCION WHERE IdTipoSancion = @p_IdTipoSancion)
        );

        SELECT CAST(SCOPE_IDENTITY() AS INT) AS IdSancion;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SANCIONES_EQUIPO_CN]    Script Date: 26/08/2025 05:59:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP_SANCIONES_EQUIPO_CN
CREATE PROCEDURE [dbo].[SP_SANCIONES_EQUIPO_CN]
    @p_IdTorneo INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT 
        e.Nombre                                          AS Equipo,
        SUM(CASE WHEN ts.Nombre = 'Amarilla' THEN 1 ELSE 0 END)     AS Amarillas,
        SUM(CASE WHEN ts.Nombre = 'Roja Directa' THEN 1 ELSE 0 END) AS Rojas,
        SUM(s.PartidosSuspension)                                AS Suspensiones
    FROM SANCIONES s
    JOIN TIPOS_SANCION ts ON s.IdTipoSancion = ts.IdTipoSancion
    JOIN JUGADORES j     ON s.IdJugador     = j.IdJugador
    JOIN EQUIPOS e       ON j.IdEquipo      = e.IdEquipo
    WHERE e.IdTorneo = @p_IdTorneo
    GROUP BY e.IdEquipo, e.Nombre
    ORDER BY Rojas DESC, Amarillas DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SANCIONES_JUGADOR_CN]    Script Date: 26/08/2025 05:59:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP_SANCIONES_JUGADOR_CN
CREATE PROCEDURE [dbo].[SP_SANCIONES_JUGADOR_CN]
    @p_IdJugador INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT 
        s.IdSancion,
        ts.Nombre       AS Tipo,
        p.Fecha         AS FechaPartido,
        e.Nombre        AS EquipoRival,
        s.Minuto,
        s.Observaciones,
        s.PartidosSuspension
    FROM SANCIONES s
    JOIN TIPOS_SANCION ts ON s.IdTipoSancion = ts.IdTipoSancion
    JOIN PARTIDOS p       ON s.IdPartido      = p.IdPartido
    JOIN EQUIPOS e        ON (
        CASE 
            WHEN p.IdEquipoLocal   = (SELECT IdEquipo FROM JUGADORES WHERE IdJugador = @p_IdJugador) 
            THEN p.IdEquipoVisitante 
            ELSE p.IdEquipoLocal 
        END
    ) = e.IdEquipo
    WHERE s.IdJugador = @p_IdJugador
    ORDER BY p.Fecha DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SANCIONES_PENDIENTES_CN]    Script Date: 26/08/2025 05:59:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_SANCIONES_PENDIENTES_CN]
    @p_IdTorneo INT = NULL,
    @p_IdFase INT = NULL,
    @p_IdEquipo INT = NULL,
    @p_SoloActivos BIT = 1  -- 1=Solo suspensiones pendientes, 0=Todas
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        j.IdJugador,
        j.Nombre AS Jugador,
        j.Numero,
        e.IdEquipo,
        e.Nombre AS Equipo,
        pj.Nombre AS Posicion,
        s.IdSancion,
        ts.Nombre AS TipoSancion,
        ts.PartidosSuspension AS SuspensionOriginal,
        s.PartidosSuspension AS SuspensionPendiente,
        p.IdPartido AS PartidoSancion,
        el.Nombre AS EquipoLocal,
        ev.Nombre AS EquipoVisitante,
        p.Fecha AS FechaPartidoSancion,
        t.IdTorneo,
        t.Nombre AS Torneo,
        f.IdFase,
        f.Nombre AS Fase,
        s.FechaSancion,
        DATEDIFF(DAY, s.FechaSancion, GETDATE()) AS DiasDesdeSancion,
        -- Partidos jugados desde la sanción (para control de cumplimiento)
        (SELECT COUNT(*) 
         FROM PARTIDOS p2 
         JOIN JORNADAS jrn ON p2.IdJornada = jrn.IdJornada
         JOIN FASES_TORNEO ft ON jrn.IdFase = ft.IdFase
         WHERE ft.IdTorneo = t.IdTorneo
           AND p2.Fecha > s.FechaSancion
           AND (p2.IdEquipoLocal = e.IdEquipo OR p2.IdEquipoVisitante = e.IdEquipo)
           AND p2.IdEstadoPartido = (SELECT IdEstadoPartido FROM ESTADOS_PARTIDO WHERE Codigo = 'FINALIZADO')
        ) AS PartidosJugadosDesdeSancion,
        -- Partidos pendientes por cumplir de suspensión
        CASE 
            WHEN s.PartidosSuspension > 0 THEN s.PartidosSuspension
            ELSE 0 
        END AS PartidosPendientesCumplir,
        -- Estado de la suspensión
        CASE 
            WHEN s.PartidosSuspension > 0 THEN 'SUSPENDIDO'
            ELSE 'CUMPLIDA'
        END AS EstadoSuspension
    FROM SANCIONES s
    JOIN JUGADORES j ON s.IdJugador = j.IdJugador
    JOIN EQUIPOS e ON j.IdEquipo = e.IdEquipo
    LEFT JOIN POSICIONES_JUGADOR pj ON j.IdPosicionJugador = pj.IdPosicionJugador
    JOIN TIPOS_SANCION ts ON s.IdTipoSancion = ts.IdTipoSancion
    JOIN PARTIDOS p ON s.IdPartido = p.IdPartido
    JOIN EQUIPOS el ON p.IdEquipoLocal = el.IdEquipo
    JOIN EQUIPOS ev ON p.IdEquipoVisitante = ev.IdEquipo
    JOIN FASES_TORNEO f ON p.IdFase = f.IdFase
    JOIN TORNEOS t ON f.IdTorneo = t.IdTorneo
    WHERE (@p_SoloActivos = 0 OR s.PartidosSuspension > 0)
      AND (@p_IdTorneo IS NULL OR t.IdTorneo = @p_IdTorneo)
      AND (@p_IdFase IS NULL OR f.IdFase = @p_IdFase)
      AND (@p_IdEquipo IS NULL OR e.IdEquipo = @p_IdEquipo)
    ORDER BY 
        t.Nombre,
        f.Nombre,
        e.Nombre,
        s.PartidosSuspension DESC,
        s.FechaSancion DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TIPOS_IMAGEN_CN]    Script Date: 26/08/2025 05:59:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_TIPOS_IMAGEN_CN]
    @p_IdTipoImagen INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT 
        IdTipoImagen,
        Nombre,
        Descripcion
    FROM TIPOS_IMAGEN
    WHERE IdTipoImagen = @p_IdTipoImagen;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TIPOS_IMAGEN_CT]    Script Date: 26/08/2025 05:59:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_TIPOS_IMAGEN_CT]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT 
        IdTipoImagen,
        Nombre,
        Descripcion
    FROM TIPOS_IMAGEN
    ORDER BY Nombre;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TIPOS_IMAGEN_ED]    Script Date: 26/08/2025 05:59:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_TIPOS_IMAGEN_ED]
    @p_IdTipoImagen INT,
    @p_Nombre       NVARCHAR(50),
    @p_Descripcion  NVARCHAR(200),
    @p_IdUsuario    INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        UPDATE TIPOS_IMAGEN
        SET 
            Nombre      = @p_Nombre,
            Descripcion = @p_Descripcion
        WHERE IdTipoImagen = @p_IdTipoImagen;

        INSERT INTO MOVIMIENTOS (IdUsuario, IdTipoMovimiento, TablaAfectada, Observacion)
        VALUES (
            @p_IdUsuario,
            2,
            'TIPOS_IMAGEN',
            'Actualización tipo imagen ID: ' + CAST(@p_IdTipoImagen AS NVARCHAR(10))
        );

        SELECT 'Tipo de imagen actualizado correctamente' AS Mensaje;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TIPOS_IMAGEN_IN]    Script Date: 26/08/2025 05:59:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_TIPOS_IMAGEN_IN]
    @p_Nombre      NVARCHAR(50),
    @p_Descripcion NVARCHAR(200),
    @p_IdUsuario   INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        INSERT INTO TIPOS_IMAGEN (Nombre, Descripcion)
        VALUES (@p_Nombre, @p_Descripcion);

        INSERT INTO MOVIMIENTOS (IdUsuario, IdTipoMovimiento, TablaAfectada, Observacion)
        VALUES (
            @p_IdUsuario,
            1,
            'TIPOS_IMAGEN',
            'Alta tipo imagen: ' + @p_Nombre
        );

        SELECT CAST(SCOPE_IDENTITY() AS INT) AS IdTipoImagen;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TIPOS_MOVIMIENTO_CN]    Script Date: 26/08/2025 05:59:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_TIPOS_MOVIMIENTO_CN]
    @p_IdTipoMovimiento INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT 
        IdTipoMovimiento,
        Nombre,
        Descripcion
    FROM TIPOS_MOVIMIENTO
    WHERE IdTipoMovimiento = @p_IdTipoMovimiento;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TIPOS_MOVIMIENTO_CT]    Script Date: 26/08/2025 05:59:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_TIPOS_MOVIMIENTO_CT]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT 
        IdTipoMovimiento,
        Nombre,
        Descripcion
    FROM TIPOS_MOVIMIENTO
    ORDER BY Nombre;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TIPOS_MOVIMIENTO_ED]    Script Date: 26/08/2025 05:59:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_TIPOS_MOVIMIENTO_ED]
    @p_IdTipoMovimiento INT,
    @p_Nombre           NVARCHAR(50),
    @p_Descripcion      NVARCHAR(200),
    @p_IdUsuario        INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        UPDATE TIPOS_MOVIMIENTO
        SET 
            Nombre      = @p_Nombre,
            Descripcion = @p_Descripcion
        WHERE IdTipoMovimiento = @p_IdTipoMovimiento;

        -- No audit para evitar recursividad
        SELECT 'Tipo de movimiento actualizado correctamente' AS Mensaje;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TIPOS_MOVIMIENTO_IN]    Script Date: 26/08/2025 05:59:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_TIPOS_MOVIMIENTO_IN]
    @p_Nombre      NVARCHAR(50),
    @p_Descripcion NVARCHAR(200),
    @p_IdUsuario   INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        INSERT INTO TIPOS_MOVIMIENTO (Nombre, Descripcion)
        VALUES (@p_Nombre, @p_Descripcion);

        -- No audit para evitar recursividad
        SELECT CAST(SCOPE_IDENTITY() AS INT) AS IdTipoMovimiento;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TIPOS_PARTIDO_CN]    Script Date: 26/08/2025 05:59:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_TIPOS_PARTIDO_CN]
    @p_IdTipoPartido INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT 
        IdTipoPartido,
        Nombre,
        Descripcion,
        AfectaPosiciones,
        EsOficial
    FROM TIPOS_PARTIDO
    WHERE IdTipoPartido = @p_IdTipoPartido;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TIPOS_PARTIDO_CT]    Script Date: 26/08/2025 05:59:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_TIPOS_PARTIDO_CT]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT 
        IdTipoPartido,
        Nombre,
        Descripcion,
        AfectaPosiciones,
        EsOficial
    FROM TIPOS_PARTIDO
    ORDER BY Nombre;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TIPOS_PARTIDO_ED]    Script Date: 26/08/2025 05:59:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_TIPOS_PARTIDO_ED]
    @p_IdTipoPartido    INT,
    @p_Nombre           NVARCHAR(50),
    @p_Descripcion      NVARCHAR(200),
    @p_AfectaPosiciones BIT,
    @p_EsOficial        BIT,
    @p_IdUsuario        INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        UPDATE TIPOS_PARTIDO
        SET
            Nombre           = @p_Nombre,
            Descripcion      = @p_Descripcion,
            AfectaPosiciones = @p_AfectaPosiciones,
            EsOficial        = @p_EsOficial
        WHERE IdTipoPartido = @p_IdTipoPartido;

        INSERT INTO MOVIMIENTOS (IdUsuario, IdTipoMovimiento, TablaAfectada, Observacion)
        VALUES (
            @p_IdUsuario,
            2,
            'TIPOS_PARTIDO',
            'Actualización tipo partido ID: ' + CAST(@p_IdTipoPartido AS NVARCHAR(10))
        );

        SELECT 'Tipo de partido actualizado correctamente' AS Mensaje;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TIPOS_PARTIDO_IN]    Script Date: 26/08/2025 05:59:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_TIPOS_PARTIDO_IN]
    @p_Nombre           NVARCHAR(50),
    @p_Descripcion      NVARCHAR(200),
    @p_AfectaPosiciones BIT,
    @p_EsOficial        BIT,
    @p_IdUsuario        INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        INSERT INTO TIPOS_PARTIDO (Nombre, Descripcion, AfectaPosiciones, EsOficial)
        VALUES (@p_Nombre, @p_Descripcion, @p_AfectaPosiciones, @p_EsOficial);

        INSERT INTO MOVIMIENTOS (IdUsuario, IdTipoMovimiento, TablaAfectada, Observacion)
        VALUES (
            @p_IdUsuario,
            1,
            'TIPOS_PARTIDO',
            'Alta tipo partido: ' + @p_Nombre
        );

        SELECT CAST(SCOPE_IDENTITY() AS INT) AS IdTipoPartido;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TIPOS_SANCION_CN]    Script Date: 26/08/2025 05:59:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_TIPOS_SANCION_CN]
    @p_IdTipoSancion INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT 
        IdTipoSancion,
        Nombre,
        Descripcion,
        Puntos,
        PartidosSuspension
    FROM TIPOS_SANCION
    WHERE IdTipoSancion = @p_IdTipoSancion;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TIPOS_SANCION_CT]    Script Date: 26/08/2025 05:59:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_TIPOS_SANCION_CT]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT 
        IdTipoSancion,
        Nombre,
        Descripcion,
        Puntos,
        PartidosSuspension
    FROM TIPOS_SANCION
    ORDER BY Nombre;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TIPOS_SANCION_ED]    Script Date: 26/08/2025 05:59:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_TIPOS_SANCION_ED]
    @p_IdTipoSancion      INT,
    @p_Nombre             NVARCHAR(50),
    @p_Descripcion        NVARCHAR(200),
    @p_Puntos             INT,
    @p_PartidosSuspension INT,
    @p_IdUsuario          INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        UPDATE TIPOS_SANCION
        SET 
            Nombre             = @p_Nombre,
            Descripcion        = @p_Descripcion,
            Puntos             = @p_Puntos,
            PartidosSuspension = @p_PartidosSuspension
        WHERE IdTipoSancion = @p_IdTipoSancion;

        INSERT INTO MOVIMIENTOS (IdUsuario, IdTipoMovimiento, TablaAfectada, Observacion)
        VALUES (
            @p_IdUsuario,
            2,
            'TIPOS_SANCION',
            'Actualización tipo sanción ID: ' + CAST(@p_IdTipoSancion AS NVARCHAR(10))
        );

        SELECT 'Tipo de sanción actualizado correctamente' AS Mensaje;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TIPOS_SANCION_IN]    Script Date: 26/08/2025 05:59:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_TIPOS_SANCION_IN]
    @p_Nombre             NVARCHAR(50),
    @p_Descripcion        NVARCHAR(200),
    @p_Puntos             INT,
    @p_PartidosSuspension INT,
    @p_IdUsuario          INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        INSERT INTO TIPOS_SANCION (Nombre, Descripcion, Puntos, PartidosSuspension)
        VALUES (@p_Nombre, @p_Descripcion, @p_Puntos, @p_PartidosSuspension);

        INSERT INTO MOVIMIENTOS (IdUsuario, IdTipoMovimiento, TablaAfectada, Observacion)
        VALUES (
            @p_IdUsuario,
            1,
            'TIPOS_SANCION',
            'Alta tipo sanción: ' + @p_Nombre
        );

        SELECT CAST(SCOPE_IDENTITY() AS INT) AS IdTipoSancion;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TOP_GOLEADORES_CN]    Script Date: 26/08/2025 05:59:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[SP_TOP_GOLEADORES_CN]
    @p_IdTorneo INT  
AS  
BEGIN  
    SET NOCOUNT ON;  
      
    SELECT TOP 5  
        j.IdJugador,  
        j.Nombre,  
        j.Numero,  
        e.Nombre  AS Equipo,  
        COUNT(g.IdGol) AS Goles  
    FROM GOLES g  
    INNER JOIN JUGADORES j ON g.IdJugador = j.IdJugador  
    INNER JOIN EQUIPOS e ON j.IdEquipo = e.IdEquipo  
    WHERE EXISTS (  
        SELECT 1   
        FROM PARTIDOS p   
        INNER JOIN FASES_TORNEO ft ON p.IdFase = ft.IdFase  
        WHERE p.IdPartido = g.IdPartido   
          AND ft.IdTorneo = @p_IdTorneo  
    )  
    GROUP BY j.IdJugador, j.Nombre, j.Numero, e.Nombre  
    ORDER BY Goles DESC;  
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TORNEO_CN]    Script Date: 26/08/2025 05:59:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP_TORNEO_CN
CREATE PROCEDURE [dbo].[SP_TORNEO_CN]
    @p_IdTorneo INT = NULL
AS
BEGIN
    SET NOCOUNT ON;
    SELECT 
        IdTorneo,
        Nombre,
        FechaInicio,
        FechaFin
    FROM TORNEOS
    WHERE Habilitado = 1
      AND (@p_IdTorneo IS NULL OR IdTorneo = @p_IdTorneo)
    ORDER BY FechaInicio DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TORNEO_CT]    Script Date: 26/08/2025 05:59:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP_TORNEO_CT
CREATE PROCEDURE [dbo].[SP_TORNEO_CT]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT 
        IdTorneo,
        Nombre,
        FechaInicio,
        FechaFin
    FROM TORNEOS
    ORDER BY FechaInicio DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TORNEO_ED]    Script Date: 26/08/2025 05:59:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP_TORNEO_ED
CREATE PROCEDURE [dbo].[SP_TORNEO_ED]
    @p_IdTorneo   INT,
    @p_Nombre     NVARCHAR(100) = NULL,
    @p_FechaInicio DATE         = NULL,
    @p_FechaFin    DATE         = NULL,
    @p_IdUsuario   INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        IF NOT EXISTS (SELECT 1 FROM TORNEOS WHERE IdTorneo = @p_IdTorneo)
            THROW 50031, 'Error: El torneo no existe', 1;

        UPDATE TORNEOS
        SET 
            Nombre      = COALESCE(@p_Nombre, Nombre),
            FechaInicio = COALESCE(@p_FechaInicio, FechaInicio),
            FechaFin    = COALESCE(@p_FechaFin, FechaFin),
            IdUsuario   = @p_IdUsuario
        WHERE IdTorneo = @p_IdTorneo;

        INSERT INTO MOVIMIENTOS (IdUsuario, IdTipoMovimiento, TablaAfectada, Observacion)
        VALUES (
            @p_IdUsuario,
            2,
            'TORNEOS',
            'Actualización torneo ID: ' + CAST(@p_IdTorneo AS NVARCHAR(10))
        );

        SELECT 'Torneo actualizado correctamente' AS Mensaje;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TORNEO_IN]    Script Date: 26/08/2025 05:59:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP_TORNEO_IN
CREATE PROCEDURE [dbo].[SP_TORNEO_IN]
    @p_Nombre     NVARCHAR(100),
    @p_FechaInicio DATE,
    @p_FechaFin    DATE,
    @p_IdUsuario   INT
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO TORNEOS (Nombre, FechaInicio, FechaFin, IdUsuario)
    VALUES (@p_Nombre, @p_FechaInicio, @p_FechaFin, @p_IdUsuario);

    SELECT CAST(SCOPE_IDENTITY() AS INT) AS IdTorneo;
END
GO
