@inherits LayoutComponentBase
<Layout>
    <LayoutHeader>
        <Bar Breakpoint="Breakpoint.Desktop"
             Background="Background.Light"
             ThemeContrast="ThemeContrast.Light">
            <BarBrand>
                Liga S4Futbol
            </BarBrand>
            <BarToggler />
            <BarMenu>
                <NavMenu />
            </BarMenu>
        </Bar>
    </LayoutHeader>
    <LayoutContent>
        <Column ColumnSize="ColumnSize.Is12">
            @Body
        </Column>
    </LayoutContent>
    <LayoutFooter>
      <Span>Vs1</Span>
    </LayoutFooter>
</Layout>


