<BarStart>
    <BarItem>
        <BarLink To="/PanelPrincipal">Home</BarLink>
    </BarItem>
    <BarItem>
        <BarLink To="#docs">Estadisticas</BarLink>
    </BarItem>
    <BarItem>
        <BarLink To="#docs">Programacíon</BarLink>
    </BarItem>
    <BarItem>
        <BarLink To="/Equipos">Equipos</BarLink>
    </BarItem>
    <BarItem>
        <BarLink To="/Catalogos">Catalogos</BarLink>
    </BarItem>
   
</BarStart>
<BarEnd>
    <BarItem>
        <Button Color="Color.Danger">Log in</Button>
    </BarItem>
</BarEnd>