@page "/"
@layout InicioSesionLayout


<p>Without label:</p>
<FluentTextField @bind-Value=usuarioAccesoObject.Usuario AriaLabel="No label"></FluentTextField>

<p>Without label:</p>
<FluentTextField @bind-Value=usuarioAccesoObject.ClaveAcceso AriaLabel="No label"></FluentTextField>

<FluentStack HorizontalGap="10">
    <FluentButton Appearance="Appearance.Accent" OnClick="ValidarUsuario">Accent</FluentButton>
</FluentStack>
